<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}" />
    <title>Quiz App</title>
	<style>
		body{
			background-image: url("{{ url_for('static', filename='1.jpg') }}")!important;
			background-size: cover;
		}
		.quiz-container {
  background-image:url("{{ url_for('static', filename='2.jpg') }}");
  background-size: cover;
  color:azure;
 
}
	</style>
</head>
  <body>

     <div class="quiz-container" id="quiz">  <div class="dashboard">
              <p class="dashboard-p">
                <b>
                    <span style="color:#fff;">
                      Points:{{points}}
                    </span>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <span style="color:#000">
                      Level:{{level}}
                    </span>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <span style="color:#8e44ad;">
                      Stones:{{stones}}
                    </span>
                  </b>
              </p>
      </div>
      <form action="" method="post">
      <div class="quiz-header"style="padding-top:0">
        <h2 id="question">PassKey</h2>
       
        
        <ul>
          <li>  <label for="a" id="a_text">Enter Here</label>
          </li>
          <li> 
            <div style=" display:flex; justify-content: center; align-items: center; ">
              <input id="passkeys" type="text" class="passkeys" name="passkeys" >
          </div>
          </li>  
        </ul>
       

      </div>
      <button id="submit">Submit</button>
    </form>
    </div>
    
  </body>
</html>
