<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}" />
    <title>Quiz App</title>
	<style>
		body{
			background-image: url("{{ url_for('static', filename='1.jpg') }}")!important;
			background-size: cover;
		}
		.quiz-container {
  background-image:url("{{ url_for('static', filename='2.jpg') }}");
  background-size: cover;
  color:azure;
 
}
	</style>
</head>
  <body>

    <div class="quiz-container" id="quiz">
      
      <form action="" method="post">
      <div class="quiz-header">
        {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}
      
        <h2 id="question">Login</h2>
       
        <ul>
          <li> 
            <input type="email" id="register" name="email" placeholder="Email">
          </li>

          <li> 
            <input type="password" id="register" name="password" placeholder="Password">
          </li>
         
        </ul>

      </div>
      <button id="submit">Submit</button>
    </form>
    </div>


    
  </body>
</html>
