<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}" />
    <title>Quiz App</title>
	<style>
		body{
			background-image: url("{{ url_for('static', filename='1.jpg') }}")!important;
			background-size: cover;
		}
		.quiz-container {
  background-image:url("{{ url_for('static', filename='2.jpg') }}");
  background-size: cover;
  color:azure;
 
}
	</style>
</head>
  <body>

    <div class="quiz-container" id="quiz">

      <div class="quiz-header">
        <h2 id="question">Rules</h2>
        <h2>https://bit.ly/3tGy6xW</h2>
        <ul>
         
        </ul>

      </div>

      <a href="{{ url_for('answers') }}">
        <button id="submit">Next</button>
    </a>   
    </div>
    
  </body>
</html>
